html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  height: 100%;
}

h1 {
  text-align: center;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
}

canvas {
  display: block;
}